name: Send Slack notifiactions

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository (only needed for slack_mention_mapping_file)
        uses: actions/checkout@v2
      - name: Slack notification
        uses: tiloio/slack-webhook-action@v1.1.2
        with:
          slack_web_hook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
          slack_mention_mapping_file: ../.github/slack-name-mapping.json
          slack_json: '{
            "username": "{{GITHUB_ACTOR}}",
            "text": "{{GITHUB_ACTOR}} made some notification",
            "icon_url": "{{CUSTOM_AUTHOR_PICTURE}}",
            "channel": "your_channel",
            "blocks": [
            {
            "type": "section",
            "text": {
            "type": "mrkdwn",
            "text": "someone pushed something.\n_{{CUSTOM_COMMIT_MSG}}_"
            }
            },
            {
            "type": "context",
            "elements": [
            {
            "type": "mrkdwn",
            "text": ":speech_balloon: commit <{{CUSTOM_COMMIT_URL}}|{{CUSTOM_SHORT_GITHUB_SHA}}>"
            }
            ]
            }
            ]
            }'
      - name: Slack failure notification
        if: ${{ failure() }}
        uses: tiloio/slack-webhook-action@v1.1.2
        with:
          slack_web_hook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
          slack_json: '{
            "username": "{{GITHUB_ACTOR}}",
            "text": "{{GITHUB_ACTOR}} made some notification",
            "icon_url": "{{CUSTOM_AUTHOR_PICTURE}}",
            "channel": "your_channel",
            "blocks": [
            {
            "type": "section",
            "text": {
            "type": "mrkdwn",
            "text": "someone pushed something and it failed!\n_{{CUSTOM_COMMIT_MSG}}_"
            }
            },
            {
            "type": "context",
            "elements": [
            {
            "type": "mrkdwn",
            "text": ":speech_balloon: commit <{{CUSTOM_COMMIT_URL}}|{{CUSTOM_SHORT_GITHUB_SHA}}>"
            }
            ]
            }
            ]
            }'
